* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.react-input-emoji--input {
  width: 576px;
}

/* sidebar.css */
.sidebar {
  display: none;
  /* Hide sidebar by default */
}

@media (min-width: 440px) {

  /* Show sidebar on screens wider than 640px */
  .sidebar {
    display: block;
  }
}

.avatar.onliney:before {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  border: 2px solid grey ;
  background-color: var(--fallback-su,oklch(var(--su)/var(--tw-bg-opacity)));
  width: 25%;
  height: 25%;
  bottom: 4%;
  right: 5%;
}
.avatar.offline-stat:before {
  content: "";
  position: absolute;
  z-index: 10;
  display: block;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  border: 2px solid grey;
  background-color: white;
  width: 25%;
  height: 25%;
  bottom: 4%;
  right: 5%;
}